body{
    font-family: sans-serif;
    margin: 0;
}

#chooseside{
    display: flex;
}

#sabers{
    display: none;
}

.question{
    height: 100vh;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.lados{
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

button{
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    border: 0;
    width: 40%;
}

.jedi{
    background-color: rgb(32, 170, 32);
}

.sith{
    background-color: rgb(216, 37, 37);
}

.tuim{
    height: 60vh;
    width: 15px;
    background: linear-gradient(90deg, rgb(26, 136, 26), rgb(3, 187, 3), rgb(26, 136, 26));
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 50px green;
    opacity: 0;
    transition: 0.5s;
}

.base{
    height: 15vh;
    width: 15px;
    background: linear-gradient(90deg, rgb(78, 78, 78), lightgray, rgb(78, 78, 78));
}

.return{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: rgba(2, 2, 31, 0.123);
    border-radius: 0;
    margin-top: 10px;
}