body{
    font-family: sans-serif;
    margin: 0;
}

#chooseside{
    display: flex;
}

#sabers{
    display: none;
}

.question{
    height: 100vh;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 7.25vw;
    margin: 0;
}

h1{
    margin: 0 0 5px;
}

.lados{
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

button{
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    border: 0;
    width: 40%;
}

.jedi{
    background-color: rgb(32, 170, 32);
}

.sith{
    background-color: rgb(216, 37, 37);
}



.tuim{
    height: 60vh;
    width: 15px;
    background: linear-gradient(90deg, rgb(26, 136, 26), rgb(3, 187, 3), rgb(26, 136, 26));
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 50px green;
    transition: 0.3s ease;
    transform: translateY(calc(100% - 30vh)) scaleY(0);
    z-index: -1;
    display: flex;
}

.base{
    position: relative;
    height: 15vh;
    width: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(90deg, rgb(78, 78, 78), lightgray, rgb(78, 78, 78));
}

.return{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    background-color: rgba(99, 99, 104, 0.404);
    border-radius: 0;
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: white;
}

.detalhe{
    border-radius: 50%;
    background-color: black;
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
}